<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>

<!DOCTYPE document SYSTEM '../../../common/dtd/objectweb.dtd'>

<document>
  <properties>
    <author email="jmob@objectweb.org">jmob@objectweb.org</author>
    <title>RUBiS Configuration</title>
    <filename>config.xml</filename>
    <pathtoroot>..</pathtoroot>
  </properties>

  <body>

    <s1 name="Configuration" anchor="config">

	<ul>
		<li><strong><a href="config.html#config_apache">Configuring Apache HTTP server</a></strong></li>
		<li><strong><a href="config.html#rubis_prop">Setting up rubis.properties</a></strong></li>
	</ul>
     </s1>

      <s1 name="Configuring Apache HTTP server" anchor="config_apache">
      <s2 name="PHP version">
      <p>If you want to use the default properties file provided with RUBiS,
      you just have to set your <code>DocumentRoot</code> (in Apache's conf/httpd.conf
      file) to RUBiS distribution home directory.</p>
      <p>Example: <code>DocumentRoot /home/RUBiS</code></p>
      <p>If you don't want to modify your <code>DocumentRoot</code>, RUBiS PHP directory
      must be accessible through a certain path that you'll have to set in the
      <a href="config.html#rubis_prop">rubis.properties</a>
      file.</p>
      </s2>
      </s1>

      <s1 name="Setting Up rubis.properties" anchor="rubis_prop">
      <p>This files contains information about the http server : name, port, paths
      for html pages and scripts for each version of RUBiS. The version of RUBiS
      and the transition table (workload pattern) currently used and are also
      defined in this file. Various parameters to generate data for the database
      are provided in this file : number of users, paths to the files with
      the list of regions and categories, percentage of items with various criteria,
      maximum number of bids per items, maximum number of comments per user,
      comments length, etc ... (<a href="properties_file.html">example</a>)
      </p>
      </s1>
  </body>
</document>
